#index__body {
  width: 100vw;
  height: 100vh;
  padding: var(--horizontal-margin);
  box-sizing: border-box;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index__header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  background-color: aquamarine;
  z-index: 1;
}

.index__title {
  width: 100%;
  margin-top: 20px;
  display: block;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.index__sub-title {
  display: block;
  width: 100%;
  text-align: right;
  padding-right: var(--horizontal-margin);
  box-sizing: border-box;
}

.index__main {
  width: 100%;
  margin-top: 80px;
  overflow-y: auto;
}

.index__section {
  margin-top: 10px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index__section__title {
  width: 100%;
  position: sticky;
  top: -5px;
  background-color: aquamarine;
  text-align: left;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
}

.study-list__ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.study-list__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 100%;
  height: 70px;
  color: var(--text-gray);
  background-color: var(--border-gray);
}

@media screen and (max-width: 700px) {
  .index__main {
    width: 100%;
  }
  .study-list__date {
    font-size: 1em;
  }
}
@media screen and (700px<width<100px) {
  .index__main {
    width: 60%;
  }
  .study-list__date {
    font-size: 2em;
  }
}
@media screen and (min-width: 1000px) {
  .index__main {
    width: 40%;
  }
}

.study-list__list a {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.study-list__date {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  width: 95%;
  text-align: right;
}

.study__done {
  background-color: whitesmoke;
  color: black;
}
