#assignment-6-body {
  width: 100vw;
  height: 100vh;
  background-color: tomato;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#assignment-6-body div {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: wheat;
  border: 2px solid black;
}
#assignment-6-body .background div {
  height: 70px;
  background-color: teal;
}
#assignment-6-body .small {
  width: 70px;
  border: 2px solid white;
}
#assignment-6-body .large {
  width: 260px;
  border: 2px dashed white;
}
