body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.4em;
  font-weight: 700;
  margin: 15px 0px;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-flow: wrap;
}
@media screen and (max-width: 700px) {
  main {
    width: 90%;
    height: 80%;
  }
  .color {
    width: 45%;
    height: 45%;
  }
}
@media screen and (700px <width) {
  main {
    width: 500px;
    height: 900px;
  }
  .color {
    width: 220px;
    height: 380px;
  }
}

.color {
  position: relative;
}

.color__background {
  width: 100%;
  height: 100%;
  border: 5px solid white;
}

.color:first-child > div {
  background-color: #16ce5f;
}

.color:nth-child(2) > div {
  background-color: #fae100;
}

.color:nth-child(3) > div {
  background-color: #2ac1bc;
}

.color:last-child > div {
  background-color: #ff7e36;
}

.color div:last-child {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 10%;
  right: 0px;
  left: 0px;
  background-color: white;
  border: 5px solid white;
}

.color__title {
  padding-left: 5px;
  box-sizing: border-box;
  font-size: 1.5em;
  font-weight: 600;
}

.color__code {
  padding-left: 5px;
  box-sizing: border-box;
  font-size: 1em;
  font-weight: 600;
}
