#assignment-7 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#assignment-7 header {
  font-size: 30px;
  margin-top: 30px;
}

#assignment-7 main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

#assignment-7 .main__column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#assignment-7 .main__column:first-child > div:first-child {
  background-color: tomato;
}

#assignment-7 .main__column:first-child > div:last-child {
  background-color: teal;
}

#assignment-7 .main__column:last-child > div:first-child {
  background-color: burlywood;
}

#assignment-7 .main__column:last-child > div:last-child {
  background-color: thistle;
}

#assignment-7 .color-box {
  width: 180px;
  height: 300px;
  margin: 25px;
  position: relative;
}

#assignment-7 .color-box p {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  padding-left: 5px;
  box-sizing: border-box;
}
#assignment-7 .color-name {
  font-size: 20px;
  height: 35px;
  position: absolute;
  top: 30px;
}
#assignment-7 .color-code {
  font-size: 12px;
  height: 20px;
  position: absolute;
  top: 60px;
}
